Screen {
    &:inline {
        border: none;
        height: 12;
    }
}

#main_panel {
    align: center middle;
    width: 100%;
}

#track-info, #artist-info {
    width: 100%;
    height: auto;
    text-align: center;
}

#track-info {
    margin-top: 1;
    color: $primary;
    text-style: bold;
}

#artist-info {
    margin-bottom: 1;
}

#art-container {
    width: 100%;
    height: auto;
    align: center middle;
    margin-bottom: 1;
}


#album_art {
    width: 31;
    height: 15;

}


#media-control {
    width: 100%;
    height: auto;
    align: center middle;
    margin: 1 2;
}
#media-control Button {
    width: auto;
    min-width: 6;
    margin-left: 1;
    margin-right: 1;

}

#media-control #btn-play {
    width: auto;
    min-width: 10;

}

#progress Bar > .bar--bar {
    color: $success;
    background: $success 30%;
}
#progress {
    width: 100%;
    height: auto;
    align: center middle;
}

#track-progress {
    opacity: 50%
}
